.idea
*.iml
taotao-common/target/
taotao-manager/taotao-manager-mapper/target/
taotao-manager/taotao-manager-pojo/target/
taotao-manager/taotao-manager-service/target/
taotao-manager/taotao-manager-web/src/test/java/
taotao-manager/taotao-manager-web/target/
taotao-order/target/
taotao-portal/target/
taotao-rest/src/test/
taotao-rest/target/
taotao-search/src/test/
taotao-search/target/
taotao-sso/target/